.sidebar {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 80px;
  flex: 0 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar_list {
  flex: 1;
}

.menu_item {
  margin: 10px 10px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 10px;
}

.menu_item_active {
  background-color: #e7ecf6;
  border-radius: 10px;
}

.menu_item_icon {
  width: 22px;
  height: 22px;
  fill: #373434b5;
}

.menu_item_name {
  font-size: 14px;
  line-height: 28px;
  color: var(--color-text-2);
  font-weight: bold;
  margin-top: 4px;
}
