.page-layout-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.page-layout__slide {
  width: 80px;
  height: 100%;
  background-color: #f1f5fe;
  flex: 0 0 80px;
}
.page-layout__main {
  flex: 1;
  height: 100%;
}
.page-layout__navbar {
  position: fixed;
  width: 100%;
  min-width: 1100px;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 100;
  padding-left: 80px;
}
.page-layout__navbar-hidden {
  height: 0;
}
.page-layout__core {
  width: 100%;
  height: 100%;
  padding-top: 80px;
}
.layout-content {
  background-color: var(--color-fill-2);
  min-width: 1100px;
  min-height: 100vh;
  transition: padding-left 0.2s;
  box-sizing: border-box;
}
.layout-content-wrapper {
  padding: 16px 20px 0;
}
