@nav-size-height: 60px;
@layout-max-width: 1100px;
@layout-slide-width: 80px;

.page-layout-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-layout__slide {
  width: @layout-slide-width;
  height: 100%;
  background-color: #f1f5fe;
}

.page-layout__main {
  width: calc(100vw - @layout-slide-width);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-layout__navbar {
  height: @nav-size-height;
  z-index: 100;
  flex: 0 0 @nav-size-height;

  &-hidden {
    height: 0;
  }
}

.page-layout__bottom {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.page-layout__core {
  width: 100%;
  height: 100%;
  padding-top: @layout-slide-width;
}

.layout-content-wrapper {
  flex: 1;
  background-color: var(--color-fill-2);
  transition: padding-left 0.2s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.spin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
